<%- include("header") -%>

<section id="banner" >
    <div class="container banner">
       <div class="row">
          <div class="col-md-6 first" data-aos="fade-right">
            
             <p >  SYLLA <br> MANGUE <br>
               <h4 style="margin-left: 95px;">Full stack develloper</h4>
              <hr class="ligne" >
              <div class="social-media">
                <a href="https://twitter.com/SYLLAMANGU3" class="btn-floating btn-lg btn-tw tweeter" type="button" role="button"><i class="fab fa-twitter"></i></a>

                <a href="https://www.facebook.com/mangue.sylla.14" class="btn-floating btn-lg btn-fb facebook" type="button" role="button"><i class="fab fa-facebook-f"></i></a>

                <a href="https://www.linkedin.com/in/mangu%C3%A9-sylla-8ab1561a6/" class="btn-floating btn-lg btn-li linkdn " type="button" role="button"><i class="fab fa-linkedin-in"></i></a>

                <a href="https://github.com/SyllaMangue13" class="btn-floating btn-lg btn-git github" type="button" role="button"><i class="fab fa-github"></i></a>
              </div>
            </p>
            
          </div>
          <div class="col-md-6 text-center second" data-aos="fade-left">
              <img src="portofolio\public\image\moi.png" alt="" class="moi" >
          </div>
       </div>
    </div>
   
</section>



<section id="aboutMe" >
   <hr style="height: 2px; width: 80% ;background-color: #32a88d; margin: auto; margin-top: 0px;">
      <h2 class="text-center title">APROPOS DE MOI</h2>


<!--         
      <div class="col-md-8 col-sm-10 col-lg-8  text">
        
         <p id="typedtext"></p>
    
      </div> -->
            <div class="circular--portrait">
                  <img src="portofolio\public\image\aboutMe.png" data-aos="fade-right"/>
               </div>

               <div class="myDiv" data-aos="fade-left">
                     <p id="typedtext"></p>
               </div>

               
</section>

<!-- card section -->

    <section id="education" >
      <hr style="height: 2px; width: 80% ;background-color: #32a88d; margin: auto; margin-top: 15px;">
      <h1 class="text-center title">EDUCATION</h1>
<div class="row ligne1">

            <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-left">
               <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <h5 class="card-title card-title1">2019 - Present </h5>
                  <p class="descriptions">
                     2ème du cycle d’ingenieur informatique à la faculté des sciences et 
                     techniques  de settat</p>
                  </div>
               </div>
            </div>
                

            <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-right">
               <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <h5 class="card-title card-title2">2018 - 2019</h5>
                  <p class="descriptions">
                     Accès à la prémière année du cycle d’ingenieur à la faculté des sciences 
                     et techniques  de settat (FSTS)  suite à un concours</p>
                  </div>
               </div>
            </div>

</div>

<div class="row ligne2">
   
            <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-left">
               <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <h5 class="card-title card-title3">2017 - 2018 </h5>
                  <p class="descriptions">
                     Obtention du DEUST (Diplome d’Etude Universitaire  en Sciences et 
                     Techniques)  Université HASSAN 1er de Settat (FSTS)</p>
                  </div>
               </div>
            </div>


            <div class="col-sm-12 col-lg-6 col-md-6" data-aos="fade-right">
               <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <h5 class="card-title card-title4">2015 -2016 </h5>
                  <p class="descriptions">
                     Admission au bacalaureat unique en République de Guinée , Classé 22ème 
                     de la république  avec la mention T.BIEN
                   </p>
                  </div>
               </div>
            </div>


</div>

    </section>

                 <!-- competence section -->

<section id="competences" data-aos="fade-up" >
   <hr style="height: 2px; width: 80% ;background-color: #32a88d; margin: auto; margin-top: 0px;">
<h1 class="text-center title">COMPETENCE</h1>
 <div class="row text-center">

         <div class="col-lg-4 col-md-4 ">
            <svg class="radial-progress" data-percentage="75" viewBox="0 0 80 80">
               <circle class="incomplete" cx="40" cy="40" r="35"></circle>
               <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
               <!-- <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">75%</text> -->
            </svg>
            <h1 class="percent"> 75% </h1>
            <p class="card-title"> HTML | CSS </p>
      </div>

         <div class="col-lg-4 col-md-4 ">
               <svg class="radial-progress" data-percentage="50" viewBox="0 0 80 80">
                  <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                  <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 147.3406954533613;"></circle>
                  <!-- <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">50%</text> -->
               </svg>
               <h1 class="percent"> 50% </h1>
               <p class="card-title"> MICROSOFT OFFICE</p>
         </div>

         <div class="col-lg-4 col-md-4">
               <svg class="radial-progress" data-percentage="40" viewBox="0 0 80 80">
                  <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                  <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 63.774330867872806;"></circle>
                  <!-- <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">40%</text> -->
               </svg>
               <h1 class="percent"> 40% </h1>
               <p class="card-title"> Illustrator | Photoshop<br>
               </p>
         </div> 
</div>

<div class="row text-center">
    
  <div class="col-lg-4 col-md-4 circle">
      <svg class="radial-progress" data-percentage="55" viewBox="0 0 80 80">
          <circle class="incomplete" cx="40" cy="40" r="35"></circle>
          <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 167.13272917097697;"></circle>
      </svg>
     <h1 class="percent"> 55% </h1>
      <p class="card-title"> Jquery | Express | bootstrap <br>
          javascript | NodeJS    
      </p>
  </div>

  <div class="col-lg-4 col-md-4 ">
      <svg class="radial-progress" data-percentage="52" viewBox="0 0 80 80">
          <circle class="incomplete" cx="40" cy="40" r="35"></circle>
          <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 0;"></circle>
          <!-- <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">52%</text> -->
      </svg>
      <h1 class="percent"> 52% </h1>
      <p class="card-title"> PHP | MYSQL | JEE <br>
          Mongodb | Angular | laravel
      </p>
    </div>

    <div class="col-lg-4 col-md-4 ">
      <svg class="radial-progress" data-percentage="33" viewBox="0 0 80 80">
          <circle class="incomplete" cx="40" cy="40" r="35"></circle>
          <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 0;"></circle>
          <!-- <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">33%</text> -->
      </svg>
      <h1 class="percent"> 35% </h1>
      <p class="card-title"> SpringBoot | Spring security | Python </p>
    </div>

  </div>
 </section>



 <!-- /* Experience professionnelle */ -->

 <section id="sect4" data-aos="fade-in" data-aos-easing="ease-in-out"
 >
   <hr style="height: 2px; width: 80% ;background-color: #32a88d; margin: auto; margin-top: 0px;">
   <div ><h2 class="text-center title">Experiences professionnelle</h2></div>
  
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="main-timeline">
                   <div class="timeline">
                       <a href="" class="timeline-content">
                           <div class="timeline-year">
                               <span>2016-2017 </span>
                           </div>
                           <h3 class="title1">Vie Associative</h3>
                           <p class="description"> 
                               Secretaire général de l’Association des 
                               Etudiants et Stagiaires Guineéens au Maroc
                                (ASEGUIM) dans la ville de settat.</p>
                       </a>
                   </div>
                   <div class="timeline">
                       <a href="" class="timeline-content">
                           <div class="timeline-year">
                               <span>2018-2019 </span>
                           </div>
                           <h3 class="title1">Development Web</h3>
                           <p class="description">
                               Stage d’observation et d’initiation au saint
                              de l’entreprise ZInIT (CASABLANCA, MAROC)</p>
                       </a>
                   </div>
                   <div class="timeline">
                       <a href="" class="timeline-content">
                           <div class="timeline-year">
                               <span>2019-2020</span>
                           </div>
                           <h3 class="title1">Development Web</h3>
                           <p class="description">
                               
                               Stage d’observation pour  la  réalisation  
                               d’une application de reservation des billets 
                               d’avions</p>
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </div>

</section>


<!-- Interest part -->


<section id="interest">
   <!-- <div ><h2 class="text-center title"> Centre d'intérêt</h2></div> -->
   <hr style="height: 2px; width: 80% ;background-color: #32a88d; margin: auto; margin-top: 0px;">
   <div class="cards" >
            <div class="services">
                  <div class="content content-1" data-aos="fade-left">
                        <i class="fas fa-user-tie fa-7x"></i>
            <h2 class="title2">
               QUALITES PERSONELLES</h2>
            <p class="myInterets">
               Positif <br>
               Ponctualité<br>
               Actif <br>
               Sociabilité
            </p>
         </div>

            <div class="content content-2" data-aos="fade-up">
               <i class="fas fa-heart fa-7x"></i>
            <h2 class="title2">
            INTERETS</h2>
            <p class="myInterets">
               Lecture <br>
               Sport <br>
               Music <br>
               Voyage <br>
               Jeux video
            </p>
         </div>

         <div class="content content-3" data-aos="fade-right">
            <i class="fas fa-language fa-7x"></i>
            <h2 class="title2">
            Langue</h2>
            <p class="myInterets">
            Français   90%<br> Anglais   30%</p>
         </div>
            </div>
            </div>
           
</section>            



<!-- FOOTER -->


<section id="lebas">
   <hr style="height: 2px; width: 80% ;background-color: #32a88d; margin: auto; margin-top: 0px;">
   <footer class="footer-distributed">

        <div class="footer-left">

           <h3>Mangué<span>Sylla</span></h3>

           <p class="footer-links">
              <a href="#">Home</a>
              ·
              <a href="#">Blog</a>
              ·
              <a href="#">Pricing</a>
              ·
              <a href="#">About</a>
              ·
              <a href="#">Faq</a>
              ·
              <a href="#">Contact</a>
           </p>

           <p class="footer-company-name">made with ❤ by Sylla Mangué &copy; 2020</p>
        </div>

        <div class="footer-center">

           <div>
              <i class="fas fa-map-marker"></i>
              <p><span>Hay El Hheir Rue Makdad Lahrizi NR 01</span> SETTAT, Maroc</p>
           </div>

           <div>
              <i class="fas fa-phone"></i>
              <p>+212 680 227 410</p>
              <i class="fab fa-whatsapp-square" style="color: #32a88d;"></i>
           </div>

           <div>
              <i class="fas fa-envelope"></i>
              <p> <span>manguemasysylla13@gmail.com</span></p>
           </div>

        </div>

        <div class="footer-right">

           <p class="footer-company-about">
              <span>Vous pourrez aussi me retrouver sur :</span>
           
           </p>

           <div class="footer-icons">

              <a href="https://www.facebook.com/mangue.sylla.14"><i class="fab fa-facebook"></i></a>
              <a href="https://twitter.com/SYLLAMANGU3"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/mangu%C3%A9-sylla-8ab1561a6/"><i class="fab fa-linkedin"></i></a>
              <a href="https://github.com/SyllaMangue13"><i class="fab fa-github"></i></a>

           </div>

        </div>

     </footer>

  </section>
  



<%- include("footer") -%>


